[Unit]
Description='Mount the Xbow shared file system'
Requires=home-ubuntu-shared.path
After=home-ubuntu-shared.path
ConditionFileNotEmpty=/run/metadata/xbow/shared_file_system

[Mount]
EnvironmentFile=/run/metadata/xbow/shared_file_system
What=${XBOW_SHARED_FILESYSTEM}
Where=${SHARED}
Type=nfs
Options=nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2
DirectoryMode=777
